<h1>危険箇所投稿一覧</h1>
<table>
  <tr>
    <th>投稿ID</th>
    <th>投稿日時</th>
    <th>地区</th>
    <th>タイトル</th>
    <th>投稿画像</th>
    <th>投稿者</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.id %></td>
    <td><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><%= post.district_id %></td>
    <td><%= post.posted_title %></td>
    <td><%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(100,100) %>
          <% end %>
    </td>
    <td><%= post.general_user.last_name %><%= post.general_user.first_name %></td>
    <td><%= link_to "#{post.posted_comments.count} コメント", staff_post_path(post.id) %></td>
    <td><%= link_to "#{post.dangers.count}キケン", staff_post_path(post.id) %></td>
    <td><%= link_to "詳細", staff_post_path(post.id) %></td>
    <td><%= link_to "削除", staff_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
  </tr>
  <% end %>
</table>

