<div class="container mt-5 p-5 card shadow-lg">
  <div class="row m-3">
    <h2 class="col-5 offset-1">
      地区一覧・新規登録
    </h2>
  </div>
  <div class="row">
    <div class="col-6 text-danger">
      <% if @district.errors.any? %>
        <%= @district.errors.count %>件のエラーが発生しました。
        <ul>
          <% @district.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-6">
      <div class="row">
        <h4 class="col-11 offset-1">新規地区名</h4>
      </div>
      <%= form_with model: @district, url: staff_districts_path, method: :post do |f| %>
      <div class="row">
          <div class="col-8">
            <%= f.text_field :district_name,class:"form-control" %>
          </div>
          <div class="col-4">
            <%= f.submit "新規登録", class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <div class="col-12">
          <h4 class="text-center">地区一覧</h4>
        </div>
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th scope="col">地区名</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <% @districts.each do |district| %>
            <tr>
              <td><%= district.district_name %></td>
              <td><%= link_to "編集", edit_staff_district_path(district.id), class: "btn btn-sm btn-warning" %></td>
            </tr>
          <% end %>
        </table>
        <div class="row">
          <div class="col-12">
            <%= paginate @districts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>