<div class="container mt-5 p-5 card shadow-lg">
  <div class="row m-3">
    <div class="col-11 offset-1">
      <h2><%= @general_user.last_name %><%= @general_user.first_name %>さんのプロフィール編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-danger">
      <% if @general_user.errors.any? %>
        <%= @general_user.errors.count %>件のエラーが発生しました。
        <ul>
          <% @general_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <%= form_with model: @general_user, url: staff_general_user_path, method: :patch, local: true do |f| %>
  <div class="row mt-3">
    <div class="col-3 offset-1 text-right">
      <h5>プロフィール画像</h5>
    </div>
    <div class="col-6">
    <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 offset-1 text-right">
      <h5>名前</h5>
    </div>
    <div class="col-1 text-right">
      <h6>姓</h6>
    </div>
    <div class="col-3">
      <%= f.text_field :last_name, autofocus: true,class:"form-control" %>
    </div>
    <div class="col-1 text-right">
      <h6>名</h6>
    </div>
    <div class="col-3">
      <%= f.text_field :first_name, autofocus: true,class:"form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1 offset-3 text-right">
      <h6>セイ</h6>
    </div>
    <div class="col-3">
      <%= f.text_field :kana_last_name, autofocus: true ,class:"form-control" %>
    </div>
    <div class="col-1 text-right">
      <h6>メイ</h6>
    </div>
    <div class="col-3">
      <%= f.text_field :kana_first_name, autofocus: true ,class:"form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 offset-1 text-right">
      <h5>メールアドレス</h5>
    </div>
    <div class="col-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 offset-1 text-right">
      <h5>登録状況</h5>
    </div>
    <div class="col-1">
      <!--デフォルトがfalseなので、チェックを入れる-->
      <%= f.radio_button :is_deleted, :false, checked: true %>
      <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
    </div>
    <div class="col-1">
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3 offset-4">
      <%= f.submit "変更を保存", class:"btn btn-success btn-lg" %>
    </div>
  </div>
  <% end %>
</div>