<h1>投稿詳細画面</h1>

<h4>投稿画像</h4>
<% if @post.posted_image.attached? %>
<%= image_tag @post.posted_image, size: "300x300" %>
<% else %>
<%= image_tag '画像未登録', size: "300x300" %>
<% end %>

<h4>地区</h4>

<h4>タイトル</h4>
<p><%= @post.posted_title %></p>

<h4>本文</h4>
<p><%= @post.posted_text %></p>

<%= link_to "編集", edit_post_path(@post.id) %>
<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>