<!DOCTYPE html>
<html>
  <head>
    <title>TsunagarubousaiNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if general_user_signed_in? %>
      <il>
        <%= link_to "危険箇所の投稿", new_post_path %>
      </il>
      <il>
        <%= link_to "マイページ", general_user_general_users_show_path(current_general_user.id) %>
      </il>
      <il>
        <%= link_to "ログアウト", destroy_general_user_session_path, method: :delete %>
      </il>
      <% else %>
      <il>
        <%= link_to "新規会員登録", new_general_user_registration_path %>
      </il>
      <il>
        <%= link_to "ログイン", new_general_user_session_path %>
      </il>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
